[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"


[tool.poetry]
name = "wemake-python-styleguide"
version = "0.5.1"
description = "The strictest and most opinionated python linter ever"

license = "MIT"

authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/wemake-services/wemake-python-styleguide"
homepage = "https://wemake-python-styleguide.readthedocs.io"

keywords = [
  "flake8",
  "flake8-plugin",
  "linter",
  "wemake.services",
  "styleguide",
  "code quality"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Flake8",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.plugins."flake8.extension"]
Z = "wemake_python_styleguide.checker:Checker"

[tool.poetry.dependencies]
python = "^3.6 || ^3.7"
flake8 = "^3.6"
attrs = "^18.2"
typing_extensions = "^3.6"

flake8-builtins = "^1.4"
flake8-commas = "^2.0"
flake8-quotes = "^1.0"
flake8-comprehensions = "^1.4"
flake8-docstrings = "^1.3"
flake8-string-format = "^0.2"
flake8-coding = "^1.3"
flake8-bugbear = "^18.2"
flake8-pep3101 = "^1.2"
flake8-debugger = "^3.1"
flake8-isort = "^2.6"
flake8-eradicate = "^0.1"
flake8-bandit = "^1.0"
flake8-logging-format = "^0.5"
flake8-type-annotations = "^0.1"
flake8-broken-line = "^0.1"
flake8-print = "^3.1"
flake8-per-file-ignores = "^0.6"
pep8-naming = "^0.7"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.6"
pytest-flake8 = "^1.0"
pytest-randomly = "^1.2"
pytest = "^3.9"
mypy = "^0.650"
sphinx = "^1.8"
sphinx-autodoc-typehints = "^1.5"
doc8 = "^0.8"
m2r = "^0.2"
added-value = "^0.14"
tomlkit = "^0.5"
