[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.nitpick]
style = "styles/nitpick-style-wemake.toml"


[tool.poetry]
name = "wemake-python-styleguide"
version = "0.15.3"
description = "The strictest and most opinionated python linter ever"

license = "MIT"

authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/wemake-services/wemake-python-styleguide"
homepage = "https://wemake-python-stylegui.de"

keywords = [
  "flake8",
  "flake8-plugin",
  "flake8-formatter",
  "linter",
  "wemake.services",
  "styleguide",
  "code quality",
  "pycqa"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Flake8",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.urls]
"Funding" = "https://opencollective.com/wemake-python-styleguide"

[tool.poetry.plugins."flake8.extension"]
WPS = "wemake_python_styleguide.checker:Checker"

[tool.poetry.plugins."flake8.report"]
wemake = "wemake_python_styleguide.formatter:WemakeFormatter"

[tool.poetry.dependencies]
python = "^3.6"

flake8 = ">=3.7,<5"
attrs = "*"
typing_extensions = ">=3.6,<5.0"
astor = "^0.8"
pygments = "^2.4"
importlib-metadata = {version = "*", python = "<3.8"}

flake8-commas = "^2.0"
flake8-quotes = "^3.0"
flake8-comprehensions = "^3.1"
flake8-docstrings = "^1.3"
flake8-string-format = "^0.3"
flake8-bugbear = ">=20.1,<22.0"
flake8-debugger = "^4.0"
flake8-isort = "^4.0"
flake8-eradicate = "^1.0"
flake8-bandit = "^2.1"
flake8-broken-line = ">=0.3,<0.5"
flake8-rst-docstrings = "^0.2.3"
pep8-naming = ">=0.11,<0.13"
darglint = "^1.2"

[tool.poetry.dev-dependencies]
nitpick = "^0.29"
flake8-pytest-style = "^1.5"

pytest-cov = "^3.0"
coverage-conditional-plugin = "^0.4"
pytest-randomly = "^3.10"
pytest = "^6.2"
snapshottest = "^0.6"
hypothesis = "^6.27"
hypothesmith = "^0.1"

mypy = "^0.910"

docutils = "^0.17"
sphinx = "^4.3"
sphinx-autodoc-typehints = "^1.12"
sphinxcontrib-mermaid = "^0.7"
doc8 = "^0.10"
added-value = "^0.20"
tomlkit = "^0.7"

safety = "^1.10"
autopep8 = "^1.5"
import-linter = "^1.2"

astboom = "^0.4"
tokelor = "^0.1"
astpath = "^0.9"
lxml = "^4.6"
m2r2 = "^0.3"
nbqa = "^1.2.1"
