[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"


[tool.nitpick]
style = "styles/nitpick-style-wemake.toml"


[tool.poetry]
name = "wemake-python-styleguide"
version = "0.14.0"
description = "The strictest and most opinionated python linter ever"

license = "MIT"

authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/wemake-services/wemake-python-styleguide"
homepage = "https://wemake-python-stylegui.de"

keywords = [
  "flake8",
  "flake8-plugin",
  "flake8-formatter",
  "linter",
  "wemake.services",
  "styleguide",
  "code quality",
  "pycqa"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Flake8",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.plugins."flake8.extension"]
WPS = "wemake_python_styleguide.checker:Checker"

[tool.poetry.plugins."flake8.report"]
wemake = "wemake_python_styleguide.formatter:WemakeFormatter"

[tool.poetry.dependencies]
python = "^3.6"

flake8 = "^3.7"
attrs = "*"
typing_extensions = "^3.6"
astor = "^0.8"
pygments = "^2.4"
importlib-metadata = {version = "*", python = "<3.8"}

flake8-commas = "^2.0"
flake8-quotes = "^3.0"
flake8-comprehensions = "^3.1.0"
flake8-docstrings = "^1.3.1"
flake8-string-format = "^0.3"
flake8-bugbear = "^20.1"
flake8-debugger = "^3.1"
flake8-isort = ">=2.9,<4.0"
flake8-eradicate = "^0.3"
flake8-bandit = "^2.1"
flake8-broken-line = "^0.2"
flake8-rst-docstrings = "^0.0.13"
pep8-naming = "^0.10"
darglint = "^1.2"

[tool.poetry.dev-dependencies]
nitpick = "^0.22"
flake8-pytest-style = "^1.1.1"

pytest-cov = "^2.8"
coverage-conditional-plugin = "^0.1.0"
pytest-randomly = "^3.3"
pytest = "^5.3"
snapshottest = "^0.5.1"
hypothesis = "^5.10"
hypothesmith = "^0.0.7"

mypy = "^0.770"

docutils = "^0.16"
sphinx = "^3.0"
sphinx-autodoc-typehints = "^1.10"
sphinxcontrib-mermaid = "^0.4"
doc8 = "^0.8"
m2r = "^0.2"
added-value = "^0.14"
tomlkit = "^0.6"

safety = "^1.8"
autopep8 = "^1.5"
import-linter = "^1.0"

ipdb = "^0.13"
ipython = "^7.10"
astboom = "^0.4.2"
tokelor = "^0.1.4"
