[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"


[tool.poetry]
name = "wemake-python-styleguide"
version = "0.9.1"
description = "The strictest and most opinionated python linter ever"

license = "MIT"

authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/wemake-services/wemake-python-styleguide"
homepage = "https://wemake-python-styleguide.readthedocs.io"

keywords = [
  "flake8",
  "flake8-plugin",
  "linter",
  "wemake.services",
  "styleguide",
  "code quality"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Flake8",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.plugins."flake8.extension"]
Z = "wemake_python_styleguide.checker:Checker"

[tool.poetry.dependencies]
python = "^3.6"
flake8 = "^3.7"
attrs = "*"
typing_extensions = "^3.6"
astor = ">=0.7.1,<0.9.0"

flake8-builtins = "^1.4"
flake8-commas = "^2.0"
flake8-quotes = ">=1,<3"
flake8-comprehensions = ">=1.4,<3.0"
flake8-docstrings = "^1.3"
# Temporary fix for #636
pydocstyle = "<4"
flake8-string-format = "^0.2"
flake8-coding = "^1.3"
flake8-bugbear = "^19.3"
flake8-pep3101 = "^1.2"
flake8-debugger = "^3.1"
flake8-isort = "^2.6"
flake8-eradicate = "^0.2"
flake8-bandit = ">=1,<3"
flake8-logging-format = "^0.6"
flake8-broken-line = "^0.1"
flake8-print = "^3.1"
flake8-annotations-complexity = ">=0.0.1,<0.0.3"
pep8-naming = ">=0.7,<0.9"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.7"
pytest-randomly = "^3.0"
pytest = "^4.6"
mypy = "^0.710"
sphinx = "^2.1"
sphinx-autodoc-typehints = "^1.6"
doc8 = "^0.8"
m2r = "^0.2"
added-value = "^0.14"
tomlkit = "^0.5"
safety = "^1.8"
sphinxcontrib-mermaid = "^0.3"
layer-linter = "^0.12.3"
