[tool.poetry]
name = "wemake-python-styleguide"
version = "0.0.12"
description = "The most opinionated linter ever, used by wemake.services"

license = "MIT"

authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

readme = "README.md"  # Markdown files are supported

repository = "https://github.com/wemake-services/wemake-python-styleguide"
homepage = "https://github.com/wemake-services/wemake-python-styleguide"

keywords = [
  "flake8",
  "plugin",
  "linting",
  "wemake.services",
  "styleguide",
]

classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Console",
  "Framework :: Flake8",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.plugins."flake8.extension"]
Z = "wemake_python_styleguide.checker:Checker"

[tool.poetry.dependencies]
python = "^3.6 || ^3.7"
flake8 = "^3.5"

# This is a fix for issue-118
pycodestyle = "==2.3.1"

flake8-builtins = "^1.4"
flake8-commas = "^2.0"
flake8-quotes = "^1.0"
flake8-comprehensions = "^1.4"
flake8-blind-except = "^0.1"
flake8-docstrings = "^1.3"
flake8-string-format = "^0.2"
flake8-coding = "^1.3"
flake8-module-name = "^0.1"
flake8-bugbear = "^18.2"
flake8-pep3101 = "^1.2"
flake8-super-call = "^1.0"
flake8-debugger = "^3.1"
pep8-naming = "^0.7"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.6"
pytest-isort = "^0.2"
pytest-flake8 = "^1.0"
pytest-randomly = "^1.2"
pytest = "^3.8"
flake8-pytest = "^1.3"
mypy = "^0.610.0"
sphinx = "^1.7"
sphinx-autodoc-typehints = "^1.3"
sphinxcontrib-napoleon = "^0.6"
doc8 = "^0.8"
m2r = "^0.2"
sphinx_readable_theme = "^1.3"
typing_extensions = "^3.6"
