[tool.poetry]
name = "wemake-python-styleguide"
version = "0.19.2"
description = "The strictest and most opinionated python linter ever"

license = "MIT"

authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/wemake-services/wemake-python-styleguide"
homepage = "https://wemake-python-styleguide.rtfd.io"

keywords = [
  "flake8",
  "flake8-plugin",
  "flake8-formatter",
  "linter",
  "wemake.services",
  "styleguide",
  "code quality",
  "pycqa"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Flake8",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
  "Typing :: Typed",
]

[tool.poetry.urls]
"Funding" = "https://opencollective.com/wemake-python-styleguide"

[tool.poetry.plugins."flake8.extension"]
WPS = "wemake_python_styleguide.checker:Checker"

[tool.poetry.plugins."flake8.report"]
wemake = "wemake_python_styleguide.formatter:WemakeFormatter"

[tool.poetry.dependencies]
python = "^3.9"

flake8 = "^7.1"
attrs = "*"
typing_extensions = ">=4.0,<5.0"
pygments = "^2.4"

flake8-commas = "^4.0"
flake8-quotes = "^3.0"
flake8-comprehensions = "^3.1"
flake8-docstrings = "^1.3"
flake8-string-format = "^0.3"
flake8-bugbear = "^24.2"
flake8-debugger = "^4.0"
flake8-isort = "^6.0"
flake8-eradicate = "^1.5"
flake8-bandit = "^4.1"
flake8-broken-line = "^1.0"
flake8-rst-docstrings = "^0.3"
pep8-naming = "^0.14"
darglint = "^1.2"

[tool.poetry.group.dev.dependencies]
nitpick = "^0.35"
flake8-pytest-style = "^2.0"

pytest = "^8.1"
pytest-cov = ">=5,<7"
pytest-randomly = "^3.12"
coverage-conditional-plugin = "^0.9"
syrupy = "^4.6"
hypothesis = "^6.35"
hypothesmith = "^0.3"

mypy = "^1.13"
types-flake8 = "^7.1"

autopep8 = "^2.0"
import-linter = "^2.0"

astpath = "^0.9"
lxml = "^5.1"
nbqa = "^1.2"
pytest-xdist = "^3.6.1"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^7.1"
sphinx-autodoc-typehints = "^2.0"
sphinxcontrib-mermaid = ">=0.9,<1.1"
added-value = "^0.24"
tomli = "^2.0"
myst-parser = { version = "^4.0", python = "^3.10" }


[build-system]
requires = ["poetry-core>=1.9.0"]
build-backend = "poetry.core.masonry.api"


[tool.nitpick]
style = "styles/nitpick-style-wemake.toml"
