[tool.poetry]
name = "wemake-python-styleguide"
version = "0.18.0"
description = "The strictest and most opinionated python linter ever"

license = "MIT"

authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/wemake-services/wemake-python-styleguide"
homepage = "https://wemake-python-styleguide.rtfd.io"

keywords = [
  "flake8",
  "flake8-plugin",
  "flake8-formatter",
  "linter",
  "wemake.services",
  "styleguide",
  "code quality",
  "pycqa"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Flake8",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.urls]
"Funding" = "https://opencollective.com/wemake-python-styleguide"

[tool.poetry.plugins."flake8.extension"]
WPS = "wemake_python_styleguide.checker:Checker"

[tool.poetry.plugins."flake8.report"]
wemake = "wemake_python_styleguide.formatter:WemakeFormatter"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"

flake8 = ">5"
attrs = "*"
setuptools = "*"  # only needed for flake8-commas
typing_extensions = ">=4.0,<5.0"
astor = "^0.8"
pygments = "^2.4"

flake8-commas = "^2.0"
flake8-quotes = "^3.0"
flake8-comprehensions = "^3.1"
flake8-docstrings = "^1.3"
flake8-string-format = "^0.3"
flake8-bugbear = "^23.5"
flake8-debugger = "^4.0"
flake8-isort = "^6.0"
flake8-eradicate = "^1.5"
flake8-bandit = "^4.1"
flake8-broken-line = "^1.0"
flake8-rst-docstrings = "^0.3"
pep8-naming = "^0.13"
darglint = "^1.2"

[tool.poetry.group.dev.dependencies]
nitpick = ">=0.33,<0.35"
flake8-pytest-style = "^1.5"

pytest = "^7.3"
pytest-cov = "^4.0"
pytest-randomly = "^3.12"
coverage-conditional-plugin = ">=0.8,<0.10"
snapshottest = "^0.6"
hypothesis = "^6.35"
hypothesmith = ">=0.2,<0.4"

mypy = "^1.3"

autopep8 = "^2.0"
import-linter = "^1.2"

astpath = "^0.9"
lxml = "^4.9"
nbqa = "^1.2"
doc8 = ">=0.11,<1.2"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = ">=6.2,<8.0"
sphinx-autodoc-typehints = "^1.12"
sphinxcontrib-mermaid = "^0.9"
added-value = "^0.24"
m2r2 = "^0.3"
tomli = "^2.0"


[build-system]
requires = ["poetry-core>=1.6.0"]
build-backend = "poetry.core.masonry.api"


[tool.nitpick]
style = "styles/nitpick-style-wemake.toml"
