[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"


[tool.nitpick]
style = "styles/nitpick-style-wemake.toml"


[tool.poetry]
name = "wemake-python-styleguide"
version = "0.12.1"
description = "The strictest and most opinionated python linter ever"

license = "MIT"

authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/wemake-services/wemake-python-styleguide"
homepage = "https://wemake-python-stylegui.de"

keywords = [
  "flake8",
  "flake8-plugin",
  "flake8-formatter",
  "linter",
  "wemake.services",
  "styleguide",
  "code quality",
  "pycqa"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Framework :: Flake8",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.plugins."flake8.extension"]
WPS = "wemake_python_styleguide.checker:Checker"

[tool.poetry.plugins."flake8.report"]
wemake = "wemake_python_styleguide.formatter:WemakeFormatter"

[tool.poetry.dependencies]
python = "^3.6"
flake8 = "^3.7"
attrs = "*"
typing_extensions = "^3.6"
astor = "^0.8"
pygments = "^2.4"

flake8-builtins = "^1.4"
flake8-commas = "^2.0"
flake8-quotes = "^2.0.1"
flake8-comprehensions = "^2.1"
flake8-docstrings = "^1.3.1"
pydocstyle = ">=3,<5"
flake8-string-format = "^0.2"
flake8-coding = "^1.3"
flake8-bugbear = "^19.3"
flake8-pep3101 = "^1.2"
flake8-debugger = "^3.1"
flake8-isort = "^2.6"
flake8-eradicate = "^0.2"
flake8-bandit = "^2.1"
flake8-logging-format = "^0.6"
flake8-broken-line = "^0.1"
flake8-print = "^3.1"
flake8-annotations-complexity = "^0.0.2"
flake8-rst-docstrings = "^0.0.11"
flake8-executable = "^2.0"
pep8-naming = "^0.8.2"
radon = '^2.4'

[tool.poetry.dev-dependencies]
nitpick = "^0.20.0"
flake8-pytest-style = "^0.1.3"
flake8-pytest = "^1.3"

pytest-cov = "^2.7"
pytest-randomly = "^3.0"
pytest = "^5.1"
snapshottest = "^0.5.1"
mypy = "^0.720"
docutils = "^0.13"
sphinx = "^2.1"
sphinx-autodoc-typehints = "<1.8"
sphinxcontrib-mermaid = "^0.3"
doc8 = "^0.8"
m2r = "^0.2"
added-value = "^0.14"
tomlkit = "^0.5"
safety = "^1.8"
autopep8 = "^1.4"
xenon = "^0.5.5"
import-linter = {version = "1.0b4", allows-prereleases = true}
ipdb = "^0.12.2"
ipython = "^7.7"
