# This file is used to setup env
# to generate documentation.

sphinx==1.8.2
sphinx_autodoc_typehints==1.5.2
recommonmark==0.4.0
m2r==0.2.1
added-value==0.14.0
tomlkit==0.5.3

# Dependencies of our linter:
flake8==3.6.0
typing-extensions==3.6.6
