# This file is used to setup env
# to generate documentation.

sphinx==5.0.2
sphinx_autodoc_typehints==1.17.1
sphinxcontrib-mermaid==0.7.1
recommonmark==0.7.1
m2r2==0.3.2
added-value==0.20.0
tomlkit==0.11.1

# Dependencies of our linter that should be documented,
# other dependencies are just ignored or
# goes to `autodoc_mock_imports` in `conf.py`:
flake8==4.0.1
typing-extensions==4.3.0
attrs==21.4.0
