# This file is used to setup env
# to generate documentation.

sphinx==4.3.1
sphinx_autodoc_typehints==1.12.0
sphinxcontrib-mermaid==0.7.1
recommonmark==0.7.1
m2r2==0.3.1
added-value==0.20.0
tomlkit==0.7.2
docutils==0.17.1

# Dependencies of our linter that should be documented,
# other dependencies are just ignored or
# goes to `autodoc_mock_imports` in `conf.py`:
flake8==4.0.1
typing-extensions==4.0.0
attrs==21.2.0
